<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivationServer</key>
	<string>apple.com</string>
	<key>ActivationState</key>
	<string>Activated</string>
	<key>BasebandVersion</key>
	<string>6.0.0</string>
	<key>FairPlayKeyData</key>
	<data>
	</data>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>012850003002064</string>
	<key>SerialNumber</key>
	<string>F2L4Q11MFA3N</string>
	<key>UniqueDeviceID</key>
	<string>abcdef1234567890abcdef1234567890abcdef12</string>
</dict>
</plist>
